{% block tech_icons %}
<!-- get icons from https://konpa.github.io/devicon/ -->
{% for image in post.images %}
    <i class="{{image}}" style="font-size:55px"></i>&ensp;
{% endfor %}

{% endblock tech_icons %}

<!-- 
Realtime Polling/Voting App
devicon-nodejs-plain colored,
devicon-express-original colored,
devicon-mongodb-plain colored,
devicon-javascript-plain colored,
devicon-html5-plain-wordmark colored,
devicon-css3-plain-wordmark colored
 -->

<!-- 
Create Resume Website
devicon-javascript-plain colored,
devicon-react-original-wordmark colored,
devicon-bootstrap-plain-wordmark colored,
devicon-html5-plain-wordmark colored,
devicon-css3-plain-wordmark colored
 -->

<!-- 
nodeJSFirebase
devicon-nodejs-plain colored,
devicon-express-original colored,
 -->

 <!-- 
learnWithChintan
devicon-django-plain-wordmark colored,
devicon-bootstrap-plain-wordmark colored,
devicon-python-plain colored
  -->